@model MyRoughSite1.Models.VacantRegister

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @Styles.Render("~/Content/createCss")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
    
    @using MyRoughSite1.Helpers
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Добавление талонов.</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <form method="post" action="~/VacantRegisters/GetTimes" id="calendarForm">
            @CalendarHelper.CreateCalendar(DateTime.Now);
        </form>


        @using (Ajax.BeginForm("GetTimes", new AjaxOptions { UpdateTargetId = "timeSpans" }))
        {

            @CalendarHelper.CreateCalendar(DateTime.Now);
        }

        <div id="timeSpans"></div>


        <div class="form-group">
            @Html.LabelFor(model => model.DateTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Masseur.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MasseurId, ViewBag.Masseurs as SelectList)
                @Html.ValidationMessageFor(model => model.MasseurId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    }

    @using (Ajax.BeginForm("GetTimes", new AjaxOptions { UpdateTargetId = "timeSpans" }))
    {

        <input type="submit" value="lolo">
    }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>


    <script>
        $("calendarForm").submit(function (event) {
            event.preventDefault();

            var $form = $(this),

                url = $form.attr("action");
        });
    </script>

</body>
</html>

